<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>pytrace</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body>
  <div class="app">
    <div class="left">
      <div id="codeBorder" class="code-border">
        <textarea id="codeArea"></textarea>
      </div>
      <div id="terminalBorder" class="terminal-border">
        <textarea id="terminalArea" class="terminal-area" spellcheck="false"></textarea>
      </div>
      <div class="lower-control-area">
        <button id="loadBtn" type="button">Load</button>
        <button id="downloadBtn" type="button">Download</button>
        <button id="clearTerminalBtn" type="button">Clear Terminal</button>
        <button id="settingsBtn" type="button">Settings</button>
      </div>

    </div>

    <div class="right">
      <img src="{{ url_for('static', filename='pytrace.png') }}"/>
      <div class="upper-control-area">
        <button id="startBtn" type="button">Start</button>
        <button id="stepBtn" type="button">Step</button>
        <button id="stopBtn" type="button">Stop</button>
      </div>


      <div id="dataArea" class="data-area"></div>

      <div class="data-button-area">
        <button id="variableBtn" type="button">Variables</button>
        <button id="functionBtn" type="button">Functions</button>
        <button id="clearDataBtn" type="button">Clear Data</button>
      </div>

    </div>
  </div>

  <script type="module" src="{{ url_for('static', filename='browser.js') }}"></script>

</body>

</html>
