html, body {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 12px;
  padding: 12px;
  box-sizing: border-box;
}

.left {
  display: grid;
  grid-template-rows: 2fr 1fr auto;
  gap: 12px;
  min-height: 0;
}

.right {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 12px;
  min-height: 0;
}

.code-border {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;   /* make height/width include padding */
  min-height: 0;            /* IMPORTANT in grid/flex containers */
  display: block;
}


.terminal-border {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

.terminal-area {
  resize: none;
  font: 14px ui-monospace, Menlo, Consolas, monospace, bold;
  border: none;
  outline: none;
  box-shadow: none; 
  width: 100%;
  height: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid #333;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.upper-control-area {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.data-area {
  /* display: grid;
  gap: 12px; */
  border: 1px solid #333;
  border-radius: 8px;
}

.var-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 14px;
  border: 1px solid #d0d0d0;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.var-card.var-changed {
  background: #eaffea;
  border-color: #9fe0a3;
}

.var-key {
  font-size: 18px;
  font-weight: 800;
  color: #0f3c73;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.var-val {
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  word-break: break-word;
}



.code-current {
  background: #7ff56b;
}

.code-visited {
  background: #bdd2f4;
}

.code-unvisited {
  background: #ffffff;
}
